@charset "utf-8";
@import url("style.css");

.signin {
    margin-top: 10rem;
    padding: 5rem 0 15rem;
    background: url('../img/bg.png') no-repeat;
    background-position: center;
    background-size: cover;

}
.signin .heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.signin .signin_card {
    margin: 0 auto;
    max-width: 80rem;
    background: #fff;
    /* padding: 10rem; */
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);
}

.signin_card h2 {
    font-size: 2rem;
    text-align: center;
    padding: 3rem ;
    border-bottom: 1px solid #ccc;
}
.signin_card h2 span {
    color: #3930B5;   
    font-size: 2rem;
}
.signin_card form {
    padding: 3rem;
}
.signin_card form input {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: .4rem;
    padding: 1.5rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1.5rem;
}
.signin_card form [type="submit"] {
    background-color: #ddd;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.signin_card form p {
    font-size: 1.2rem;
}.signin_card .action {
    display: flex; /*아이템 수평정렬*/
    border-top: 1px solid #ddd;
} 
.signin_card .action a {
    flex-grow: 1; /*아이템 증가너비*/
    flex-basis: 0; /*아이템 기본너비*/
    text-align: center;
    padding:2.5rem;
    color: #333;
    font-size:1.2rem;
    border-right: 1px solid #ddd;
}
.signin_card .action a:last-child {
    border-right: 0
}
.signin_card .action a:hover {
    text-decoration: underline;
}